.container {
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
    margin-bottom: 60px;
}

.buttonsContainer{
    padding-left: 0px;
}

.button{
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: 700;
    background-color: #1A5653;
    color: #5CD85A;
    padding: 10px;
    margin-left: 90px;
    transition: .2s ease;
    cursor: pointer;
}

.button:hover{
    background-color: #5CD85A;
    color:#1A5653;
}