.container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: black;
}

.container img{
    height: 120px;
    overflow: hidden;
    padding: 20px;
}

.buttonsContainer{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
}

.buttonNav{
    width: 80%;
    align-self: center;
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: 700;
    background-color: #1A5653;
    color: #5CD85A;
    padding: 10px;
    margin-left: 90px;
    transition: .2s ease;
    cursor: pointer;
    border: none;
}

.button:hover{
    background-color: #5CD85A;
    color:#1A5653;
}